/* your styles go here */


/* Menu de navigation */
#mainNav {
position: absolute;
border-bottom: 1px solid #e9ecef;
background-color: white;
font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
font-weight: 800;
color: #343a40;
}

.navbar-brand img {
  width: 9%;
}

#mainNav .navbar-toggler {
font-size: 12px;
font-weight: 800;
padding: 13px;
text-transform: uppercase;
color: #343a40;
}

#mainNav .navbar-nav > li.nav-item > a {
font-size: 12px;
font-weight: 800;
letter-spacing: 1px;
text-transform: uppercase;
}

.login {
  position: relative;
  left: 30%;
}

/* HEADER */

.admin-link, .logout {
  position: relative;
  left: 15%;
}


/* PAGE D'ACCUEIL */
/* Section 1 : Accueil */

.welcome {
  margin-bottom: 55px;
}

.nav_infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  left: 5%;
  font-weight: bold;
  font-size: 18px;
}

.fa-angle-double-right {
   padding-right: 20px;
}

.link-down {
  color: white;
  z-index: 2;
  position: relative;
  top: 55%;
  right: 29%;
}

.position-relative {
  top: 4%;
}

/*Section 2 Présentation */

.about-logo {
  position: relative;
  top: 20%;
}

.about-subtitle {
  padding-left: 100px; 
  margin-left: 25%;
}

.about-title {
  text-align: left;
  padding-left: 25px;
}

.fa-angle-right {
  padding-right: 10px;
}

.about-title img {
  padding-right: 25px;
  padding-left: 45px;
}

.boat-info {
  display: flex;
  margin-bottom: 15px;
  margin-left: 10%;
}

.boat-info p {
  margin-bottom: 0px;
}

.sized_img {
  height: 50px;
  margin: auto;
}

.short-p {
  margin-top: 15px;
}

.sensibilisation, .technologie {
  margin-bottom: 0;
}

.special-div {
  margin-bottom: 0px
}

.ecology {
  margin-left: 25%;
}

.technologie {
  margin-top: 15px;
}

.about-subtitle {
  margin-bottom: 0;
}

.science-boat, .ecology-boat {
  padding-left: 0px;
  padding-right: 0px;
}

.school-boat {
  margin-top: 3%;
}

.school-boat-text {
  margin-top: 2%;
}

/* Section 3 : Le navire */

.owl-carousel.owl-loaded.owl-drag {
  display: flex;
  flex-direction: column;
}

.boat-general-description {
  flex-direction: column;
  margin-top: 2%;
}

.owl-nav, .owl-dots {
  margin: auto;
}

/* Section 4 : détails techniques */

.boat-details {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

.details-text {
  margin-left: -4%;
}

/*Section pagination */

#boat {
  width: 65px;
}

#specs_boat {
  width: 135px;
}

.onepage-pagination span {
  float: right;
  position: relative;
  top: -12px;
  left: -10px;
  /*display: none;*/
}

.onepage-pagination a:hover #accueil {
  display: block;
}


.onepage-pagination a.active {
  display: block;
}

/* Section contact */

.contact-logo-div {
  display: flex;
}

.contact-logo {
  width: 13%;
  height: 70%;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.person_infos p {
  margin-bottom: 0;
}

.person_infos {
  padding-left: 315px;
}

.person_pic {
  padding-right: 315px;
}

/* FIN PAGE D'ACCUEIL*/

/* PAGE ACTUALITES */

.welcome-news, .welcome-map, .events-map {
  margin-top: 10%;
  margin-bottom: 5%;
}

.image-news img {
  width: 350px;
}

/* PAGE EMBARQUEMENT */

#mainNav.onboard-nav .navbar-brand {
  color: #212529;
}
#mainNav.onboard-nav .navbar-brand:focus, #mainNav.onboard-nav .navbar-brand:hover {
  color: #0085A1;
}
#mainNav.onboard-nav .navbar-nav > li.nav-item > a {
  color: #212529;
}
#mainNav.onboard-nav .navbar-nav > li.nav-item > a:focus, #mainNav.onboard-nav .navbar-nav > li.nav-item > a:hover {
  color: #0085A1;
}

#mainNav.onboard-nav .navbar-nav > li.nav {
  color: black;
}

.eco-volunteer {
  margin-top: 150px;
}

.onboard-carousel {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.pdf-download {
  display: flex;
  flex-direction: column;
  margin-top: 5%
}

.pdf {
  margin-left: auto;
  margin-right: auto;
}

.boat-program {
  margin-top: 5%;
}

table.table-program {
  width: 100%;
}

table, td, th {
  border: 1px solid black;
}

.banets {
  width: 16%;
}

/* Map */

.onboard-events-map {
  margin-top: 5%;
}

/* FIN PAGE EMBARQUEMENT */

/* PAGE CONTACT */

.conteneur {
  position: relative;
  top: 150px;
}

#sendMessageButton {
  position: relative;
  left: 89%;
}

/* FIN PAGE CONTACT */

/* PAGE D'ADMINISTRATION */

.admin_interface, .news-creation, .login-div {
  margin-top: 10%;
  margin-bottom: 5%;
}

.mgmt {
  margin-bottom: 5%;
}

.program-div {
  margin-top: 5%;
}

/* FIN PAGE D'ADMINISTRATION */

/* PAGE DE CREATION DE NEWS */

.article_form {
  width : 100%
}

/* FIN PAGE DE CREATION DE NEWS */

/* PAGE DE TOUTES LES NEWS */

.post-list {
  padding-bottom: 3%;
  border-bottom: 1px solid gray;
  padding-top: 5%;
}

.post-item {
  margin-bottom: 5%;
}

/* PAGE DE NEWS (UNE NEWS) */

.news-view {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

#add_com {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

#com_form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

#com_form label {
  display: block;
  width: 150px;
  float: left;
}

.sub-btn {
  display: flex;
}

#com_submit_btn {
  margin-left: auto;
}

/* PAGE D'EDITION DES NEWS */

.post-preview {
  display: flex;
  flex-direction: column;
}

.post {
  height: 300px;
  overflow: hidden;
}

.edit-btn-div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  margin-bottom: 5%
}

/* PAGE DES EVENTS DE LA MAP */

.events table {
  width: 100%;
  margin-bottom: 10%;
  margin-top: 10%;
  text-align: center;
}

.buttons-map {
  display: flex;
  justify-content: space-around;
}

/* PAGE DE GESTION DU PROGRAMME DU BATEAU */

.welcome-program {
  margin-top: 20%;
}

/* FOOTER */

.page-footer {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 125px;
}

/* MODALS */

.modal {
  position: fixed;
  top: 50%;
  left: 43%;
  background: aliceblue;
  width: 250px;
  height: 150px;
}

.modal_content {
  display: flex;
}

.modal_edit_content {
  flex-direction: column;
}

#buttons {
  margin-left: auto;
  margin-right: auto;
}

#modal_text, #modal_text_edit {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

#edit_buttons {
  text-align: center;
}

.close {
  margin-left: auto;
}

/* Responsive */

/* Menu de navigation*/

@media (min-width: 992px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }
  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: #fff;
    position: relative;
    left: -35%;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

@media (min-width: 992px) {
  #mainNav {
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }

  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -100px;
    height: 100px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
  }
  #mainNav.is-fixed .navbar-brand {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
    color: #0085A1;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #0085A1;
  }
  #mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  #mainNav.is-fixed .navbar-nav > li.nav {
    color: black;
  }
}

/* Section 1 : accueil */

@media (max-width: 992px) {
  .navbar-collapse {
    text-align: center;
    position: relative;
    bottom: 10%;
  }

  .hero {
    margin-top: 15%;
  }
  
  .nav_infos {
    left: 30%;
  }

  .logo {
    position: relative;
    margin-right: auto;
  }
  
  .menu_btn {
    position: relative;
    margin-left: auto;
    bottom: 65px;
  }
}

/* Section 2 */

@media (max-width: 992px) {
  .logo-div {
    display: none;
  }

  .sized_img {
    margin: 0;
  }

  .science-boat, .ecology-boat {
    margin-bottom: 50px;
  }

  .boat-plan {
    width: 100%;
  }

  .details-text {
    margin-left: 0;
  }
}

/* Section 5 : contact */

@media (max-width: 992px) {
  .contact-logo-div {
    display: flex;
  }
  
  .contact-logo {
    width: 60%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .person_infos {
    padding-left: 0px;
  }

  .person_pic {
    padding-right: 0px;
  }

}