/* your styles go here */

#mainNav {
position: absolute;
border-bottom: 1px solid #e9ecef;
background-color: white;
font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
font-weight: 800;
color: #343a40;
}

.navbar-brand img {
  width: 9%;
}

#mainNav .navbar-toggler {
font-size: 12px;
font-weight: 800;
padding: 13px;
text-transform: uppercase;
color: #343a40;
}

#mainNav .navbar-nav > li.nav-item > a {
font-size: 12px;
font-weight: 800;
letter-spacing: 1px;
text-transform: uppercase;
}

@media (min-width: 1000px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }
  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: #fff;
    position: relative;
    left: -35%;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

@media (min-width: 1000px) {
  #mainNav {
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -100px;
    height: 100px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
  }
  #mainNav.is-fixed .navbar-brand {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
    color: #0085A1;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #0085A1;
  }
  #mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

/*Section Présentation */

.about-title {
  text-align: left;
}

.about-title img {
  padding-right: 25px;
  padding-left: 45px;
}

.sensibilisation, .technologie {
  margin-bottom: 0;
}

.technologie {
  margin-top: 15px;
}

.about-subtitle {
  margin-bottom: 0;
}

.school-boat {
  margin-top: 35px;
}

/*Section pagination */

#boat {
  width: 65px;
}

.onepage-pagination span {
  float: right;
  position: relative;
  top: -12px;
  left: -10px;
  /*display: none;*/
}

.onepage-pagination a:hover #accueil {
  display: block;
}


.onepage-pagination a.active {
  display: block;
}

/*.onepage-pagination a:hover {
  visibility: visible;
}*/

/*Section 1*/

.welcome {
  margin-bottom: 55px;
}

.nav_infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  left: 5%;
  font-weight: bold;
  font-size: 18px;
}

.fa-angle-double-right {
   padding-right: 20px;
}

.link-down {
  color: white;
  z-index: 2;
  position: relative;
  top: 55%;
  right: 29%;
}

/*Section 2*/

.about-subtitle {
  padding-left: 100px; 
}

/* Footer */

.page-footer {
  position: relative;
  top: 125px;
}

/* Section contact */

.contact-logo {
  width: 13%;
  margin-bottom: 60px;
}

.person_infos p {
  margin-bottom: 0;
}

.person_infos {
  padding-left: 315px;
}

.person_pic {
  padding-right: 315px;
}